.about-hero {
  background-image: url('../../assets/solutions/solutions.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;

  .overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .content {
    z-index: 2;
  }

  h1 {
    font-weight: 700;
  }

  .breadcrumb {
    font-size: 1rem;
    color: #f1f1f1;
  }
}

.solutions-section {
  .icon {
    width: 70px;
    height: auto;
  }

  h4, h5 {
    color: #01377d;
  }

  .card {
    border: 1px solid #198754;
    border-radius: 10px;
  }
}
