.about-hero {
  background-image: url('../../assets/about-us/contact.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
  position: relative;

  .overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .content {
    z-index: 2;
  }

  h1 {
    font-weight: 700;
  }

  .breadcrumb {
    font-size: 1rem;
    color: #f1f1f1;
  }
}

.contact-section {
  .form-control {
    border-radius: 0.375rem;
  }

  .btn-gradient {
    background: linear-gradient(to right, #9dd53a, #0cc0df);
    color: white;
    border: none;

    &:hover {
      opacity: 0.9;
    }
  }

  i {
    color: #01377d;
  }

  strong {
    color: #000;
  }
}
