// Backdrop estilo Bootstrap
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

// Pequeñas mejoras
.modal-content {
  border: none;
}

.modal-header {
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-footer {
  border-top: none;
}
